.main-container{
  display: flex;
  margin: auto;
  width: 60%;
  background-color: aqua;
  border-bottom:  3px solid rgb(35, 33, 33);
}
.h{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 20px;
 
  
}

.border{
  display: flex;
  
  margin: auto;
  width: 40%;
}
.input{
  display: flex;
  margin:auto;
  width: 77%;
  height: 40px;
  border-radius: 4px;


}
.btn{
  display: flex;
  margin:auto;
  height: 40px;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 20px;
  
  width: 70px;
  justify-content: center;
  align-items: center;

}
.task{
  display: flex;
  margin: auto;
  width: 60%;
  height: 60px;
  background-color: rgb(159, 152, 152);
  align-items: center;
  color: white;
  border-bottom: 2px solid black;
}
.span{
  position: absolute;
  margin-left: 10px;
  font-size: larger;
}

.dlt{
  position: absolute;
  margin-left: 42%;
  height: 5%;
  width: 8%;
  border-radius: 8px;
  font-size: 17px;
}
.edit{
  position: absolute;
  margin-left: 51%;
  height: 5%;
  width: 7%;
  border-radius: 8px;
  font-size: 17px;
}